@media (max-width: 1100px){
    .myQuizzes {
        width: 340px;
        margin: 120px auto 38px auto;
    }

    .headerMyQuizzes {
        justify-content: space-between;
    }
    .withQuizz {
        height: 420px;
    }
    .containerMyQuizzes {
        height: 380px;
    
        display: flex;
        flex-direction: column;

        overflow-y: auto;
    }

    .container{
        width: auto;
    }
    .quizzes {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}