* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}
header {
    width: 100%;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 77px;

    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
}


.myQuizzes {
    width: 1051px;
    height: 181px;    
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin: 0 auto 77px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.zeroQuizz {
    width: 250px;
    margin-bottom: 35px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #B9B9B9;
}
.myQuizzes button {
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #EC362D;
}


.allQuizzes {
    margin: 0 auto;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.quizzes {
    margin-top: 12px;

    display: flex;
    gap: 15px;
}
.quizz {
    width: 340px;
    height: 180px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url("https://unsplash.it/340/180");
    border-radius: 5px;

    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;

    display: flex;
    align-items: flex-end;
}

